---
layout: layouts/base.njk
---
<div class="home">
  <h1>Tags</h1>

  {% for page in search.pages("type=tag", "tag") %}
    <a href="{{ page.url }}" class="tag is-big">{{ page.tag }}</a>
  {% endfor %}
</div>
