.post {
  margin: 0 auto;
  max-width: 50em;
}

.post-title {
  font-size: 2.0rem;
  font-size: clamp(1.5rem, 10vw, 2.0rem);
  line-height: 1.2;
  letter-spacing: -0.02em;
}
.post-tags {
  display: inline;
}
.post-body {
  font-size: 1.05em;
  line-height: 1.6;

  & code {
    border: solid 1px #e4e4e4;
    border-radius: 3px;
    background: #fafafa;
  }

  p > code {
    padding: 0 0.25em;
  }

  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    margin-bottom: 0;
  }

  & table {
    border-collapse: collapse;

    & th {
      background: #fafafa;
      font-weight: normal;
    }

    & th, td {
      border: solid 1px #e4e4e4;
      border-spacing: 0;
      padding: 0.25em 0.5em;
    }
  }

  & img {
    max-width: 100%;
  }
}
.post-navigation {
  & ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  & li {
    padding: 1em;
  }
}
