---
layout: layouts/base.njk
bodyClass: body-tag
---
<div data-pagefind-body>
  <div class="home">
    <h1>Tagged “{{ tag }}”</h1>

    {% set postslist = search.pages("'" + tag + "'", "date=desc") %}
    {% include "templates/postslist.njk" %}
  </div>

  <hr>

  <div class="home">
    <p>See <a href="/tags/">all tags</a>.</p>
  </div>
</div>
