name: Publish on GitHub Pages

on:
  push:
    branches: [ master ]

env:
  ENABLE_GOOGLE_ANALYTICS: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup Deno environment
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Build site
        run: |
          deno task build --location=https://www.jyuch.dev/

      - name: Deploy
        uses: crazy-max/ghaction-github-pages@v4
        with:
          build_dir: _site
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
